<div class="col-12 " style="padding: 10px">
<div id="utama" class="col-md-4" style="max-height:300px;overflow-y:scroll;overflow-x:hidden;">
  <md-list>
    <div  *ngFor ="let datacarrier of dataLoader">
      <md-list-item >
      

        <p md-line>
          <span>{{datacarrier.title}}</span>
        </p>
        <h3 md-line><small style="font-size:12px;">{{datacarrier.media_displayName}} . {{datacarrier.timestamp}} </small></h3>
      </md-list-item>
       <md-divider></md-divider>
    </div>
   
  </md-list>
</div>
<div id="utama" class="col-md-4" style="max-height:300px;overflow-y:scroll;overflow-x:hidden;">
  <md-list>
    <div  *ngFor ="let datacarrier1 of dataLoader1">
      <md-list-item >
      

        <p md-line>
          <span>{{datacarrier1.title}}</span>
        </p>
        <h3 md-line><small style="font-size:12px;">{{datacarrier1.media_displayName}} . {{datacarrier1.timestamp}} </small></h3>
      </md-list-item>
       <md-divider></md-divider>
    </div>
   
  </md-list>
</div>
<div id="utama" class="col-md-4" style="max-height:300px;overflow-y:scroll;overflow-x:hidden;">
  <md-list>
    <div  *ngFor ="let datacarrier2 of dataLoader2">
      <md-list-item >
      

        <p md-line>
          <span>{{datacarrier2.title}}</span>
        </p>
        <h3 md-line><small style="font-size:12px;">{{datacarrier2.media_displayName}} . {{datacarrier2.timestamp}} </small></h3>
      </md-list-item>
       <md-divider></md-divider>
    </div>
   
  </md-list>
</div>
</div>